
{% extends "template.html" %}

{% block head_content %}

<title>OpenTrade DevMode</title>
{% endblock%}

{% block container %}

{% load static %}

<div class="container">
    <div class="row">

        <div class="card col-sm-12 col-12 mt-5 mb-4 p-3 asset-container block">
            <div class="card-body media pt-3 pl-3 pb-1">
                <div class="container" align="center" >

                    <h3>Help</h3>
                    <p>We understand you want to use Open Trade Trading Platform, but you don't know how.</p>
                    <p>Don't worry, we're here to help you, therefore we've created a user manual for you.</p>
                    <p>You can get the user manual to download here! -> <a  type="button" href="{% static 'public/files/Manual_de_usuario_Open_Trade.pdf' %}" download>Download manual</a> </p>
                    <p>If you don't know how to use it, but you can contact us at opentrade.contact@gmail.com </p>
                    <h5>We hope this help you!</h5>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}