{% extends "template.html" %}

{% block head_content %}
<title>Open Trade - Change password</title>
{% endblock%} 

{% block container %}


<div
        class="container "
        id="root"
        style="margin-bottom: 10%; width: 45%; margin-left: 25%;" >

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8" >
                <h3 style="color: black">Change password</h3>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <br/>
    <form method="POST" action="{% url 'users:change_passwd' %}">

        {% csrf_token %}


        <div class="form-group">
            <input
                    class="form-control text-center"
                    type="password"
                    placeholder="Old password"
                    name="old_password"
            /><br/>
        </div>
        <div class="form-group">
            <input
                    class="form-control text-center"
                    type="password"
                    placeholder="New password"
                    name="new_password"
            /><br/>
        </div>
        <div class="form-group">
            <input class="form-control text-center"
                   type="password"
                   placeholder="Repeat new password"
                   name="new_password_confirmation"
            /><br/>
        </div>
        <div class="form-group" align="center">
            <button class="btn btn-primary" type="submit">Change!</button>
        </div>


    </form>

    {% if error %}
    <p class="alert alert-danger text-center" style="color: red;">{{ error }}</p>
    {% endif%}
   
    <br/>

</div>


{% endblock %}